@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	colorscheme: light dark;

	--color-base: 32deg 57% 95%;
	--color-surface: 35deg 100% 98%;
	--color-overlay: 33deg 43% 91%;
	--color-muted: 257deg 9% 61%;
	--color-subtle: 248deg 12% 52%;
	--color-text: 248deg 19% 32%;
	--color-love: 343deg 35% 55%;
	--color-gold: 35deg 81% 56%;
	--color-rose: 3deg 53% 67%;
	--color-pine: 197deg 53% 34%;
	--color-foam: 189deg 30% 48%;
	--color-iris: 268deg 21% 57%;

	--shell-width: theme("maxWidth.7xl");
	--content-width: theme("maxWidth.5xl");

	--header-height: theme("height.16");
	--content-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-base: 249deg 22% 12%;
		--color-surface: 247deg 23% 15%;
		--color-overlay: 248deg 25% 18%;
		--color-muted: 249deg 12% 47%;
		--color-subtle: 248deg 15% 61%;
		--color-text: 245deg 50% 91%;
		--color-love: 343deg 76% 68%;
		--color-gold: 35deg 88% 72%;
		--color-rose: 2deg 55% 83%;
		--color-pine: 197deg 49% 38%;
		--color-foam: 189deg 43% 73%;
		--color-iris: 267deg 57% 78%;
	}
}

::selection {
	@apply bg-muted/20;
}

html {
	@apply scroll-smooth bg-base text-text underline-offset-2 antialiased;
}

html,
body {
	@apply h-full;
}

.animate-enter {
	opacity: 0;
	animation: enter 500ms forwards;
	animation-delay: calc(var(--stagger) * 200ms);
}

@keyframes enter {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
